@font-face {
    font-family:CoolFont;
    src: url(Assets/Motivate.otf);
}

.panel {
    height: auto;
    width: 100%;
    background-color: rgb(1, 189, 251);
    font-family: 'CoolFont', sans-serif;
    padding: 1%;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    white-space: pre-wrap;
    flex: 1 1 280px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}


.project-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    white-space: pre-wrap;
    flex: 1 1 280px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 0px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}

body {
    font-family: 'CoolFont', sans-serif;
    background-color: lightblue;
}