@font-face {
    font-family:CoolFont;
    src: url(Assets/Lato-Regular.ttf);
}

.banner {
    height: auto;
    background-color: rgb(1, 189, 251);
    font-family: 'CoolFont', sans-serif;
    padding: 1%;
}

.navbar {
    font-family: 'CoolFont', sans-serif;
    display:flex;
    justify-content: space-around;
    background-color: rgb(0, 176, 235);
}

.proj {
    font-family: 'CoolFont', sans-serif;
    display:flex;
    justify-content: space-around;
}


.img {
    width: 30%;
} 


body {
    font-family: 'CoolFont', sans-serif;
    background-color: lightblue;
}